.banner {
    margin-top: 72px;
    margin-bottom: 72px;
}

.banner h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slogan {
   position: absolute;
}

.banner .highlight {
    background: #244e62;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat-semibold';
}

@media (max-width: 1400px) {
    .banner h1 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 14px;
    }
}

@media (max-width: 700px) {
    .banner {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .banner h1 {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .banner img {
        padding-top: 10px;
    }
}