@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.app {
  padding: 0 96px;
  background: #fafeff;
  font-family: 'Montserrat';
}

.content-margin {
  margin-left: 120px;
  margin-right: 120px;
}

@media (max-width: 1024px) {
  .app {
    padding: 0 62px;
  }

  .content-margin {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 700px) {
  .app {
    padding: 0 24px;
  }

  .content-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}